@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.filter-scrollbar {
  cursor: ew-resize;
}

.filter-scrollbar::-webkit-scrollbar {
  width: 0;  /* For vertical scrollbars */
  height: 0; /* For horizontal scrollbars */
}

.filter-scrollbar::-webkit-scrollbar-track,
.filter-scrollbar::-webkit-scrollbar-thumb,
.filter-scrollbar::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}

.card-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.card-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(var(--foreground-rgb), 0.3);
  border-radius: 20px;
  border: 0px solid rgba(var(--foreground-rgb), 0);
  background-clip: padding-box;
  width: 5px;
}

.gold-pulsate {
  color: gold;
  animation: pulsate 2s infinite;
}

@keyframes pulsate {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}


